<%= form_with(model: day) do |form| %>
  <% if day.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
        <% day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <br>
  <div>
    <% if !@exercises.empty? %>
      <%= form.label :exercises, style: "display: block" %>
        <!--<% @exercises.each do |exercise| %>
          <%= render exercise %> 
        <%end%>-->
        <%= form.collection_check_boxes :exercise_ids, Exercise.all, :id, :name %>
      
    <%end%>
  </div>
<br>
  <%=link_to "Crea un nuovo esercizio", new_exercise_path, class: "btn btn-secondary"%>
  <br><br>
  <div>
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
