<p style="color: green"><%= notice %></p>

<%= render @day %>

<div class="d-flex">
  <%= link_to "Edit", edit_day_path(@day), class: "btn btn-secondary my-mr" %>
  <%= link_to "Back", root_path, class: "btn btn-secondary my-mr" %>

  <%= button_to "Destroy", @day, method: :delete, class: "btn btn-danger" %>
</div>
