<p style="color: green"><%= notice %></p>

<%= render @day_to_exercise %>

<div>
  <%= link_to "Edit this day to exercise", edit_day_to_exercise_path(@day_to_exercise) %> |
  <%= link_to "Back to day to exercises", day_to_exercises_path %>

  <%= button_to "Destroy this day to exercise", @day_to_exercise, method: :delete %>
</div>
